@import "utils/variables";
@import "utils/fonction";

@import "base/_reset.scss";

@import "components/border.scss";
@import "components/gallery.scss";
@import "components/navbar.scss";
@import "components/banner";

@import "layout/_header.scss";
@import "layout/_aside.scss";
@import "layout/_main.scss";
@import "layout/_footer.scss";